# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env

# Streamlit - IMPORTANT: Ne jamais commiter les secrets!
.streamlit/secrets.toml
.streamlit/config.toml

# macOS
.DS_Store

# Docker (pas nécessaire pour Streamlit Cloud)
dockerfile
docker-compose.yml

# Backups
*.backup*

# Fichiers temporaires
*.tmp
*.log

#fichiers de backup
.backup

#Fichiers CSV de sources
sources/*.csv

